
<div class="limiter">
	<div class="container-login100"
		style="background-image: url('images/img-01.jpg');">
		<div class="wrap-login100 p-t-190 p-b-30">
			<div *ngIf="errorMsg">
				<p>{{errorMsg}}</p>
			</div>
			<form [formGroup]="loginForm" class="login100-form validate-form">

				<div class="wrap-input100 validate-input m-b-10"
					*ngIf="!isNewPasswordNeeded">
					<input formControlName="email" class="input100" type="text"
						name="אימייל" placeholder="אמייל"> <span
						class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-user"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-10"
					style="text-align: right;" *ngIf="!isNewPasswordNeeded">
					<input class="input100" formControlName="password" type="password"
						name="pass" placeholder="סיסמא"> <span
						class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-10"
					style="text-align: right;" *ngIf="isNewPasswordNeeded">
					<input class="input100" formControlName="newPassword"
						type="password" name="newpass" placeholder="סיסמא חדשה"> <span
						class="focus-input100"></span> <span class="symbol-input100">
						<i class="fa fa-lock"></i>
					</span>
				</div>

				<div class="container-login100-form-btn p-t-10"
					*ngIf="!isNewPasswordNeeded">
					<button class="login100-form-btn" (click)="login()">כניסה
					</button>
				</div>

				<div class="container-login100-form-btn p-t-10"
					*ngIf="isNewPasswordNeeded">
					<button class="login100-form-btn" (click)="completeNewPassword()">
						החלף סיסמא</button>
				</div>

				<div class="text-center w-full p-t-25 p-b-230">
					<a href="#" class="txt1"> Forgot Username / Password? </a>
				</div>

			</form>
		</div>
	</div>
</div>